# Ignorar la carpeta node_modules
node_modules/
.env
# Ignorar los archivos de Chromium descargados por Puppeteer
.local-chromium/

# Ignorar archivos ejecutables y DLLs
*.exe
*.dll

# Ignorar archivos innecesarios y backups
bfg.jar
whatsapp-bot-backup/
whatsapp-bot-clean/
tracked_files.txt
